<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kia.com.mybatistest.model.dao.UserMapper">

    <resultMap id="UserDto" type="kia.com.mybatistest.model.dto.UserDto">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPassword" column="user_password"/>
        <result property="createAt" column="create_at"/>
        <result property="modifyAt" column="modify_at"/>
    </resultMap>

    <select id="getAllUserDataList" resultMap="UserDto">
        SELECT * FROM users;
    </select>

    <select id="findById" resultMap="UserDto">
        SELECT * FROM users WHERE user_id = #{userId};
    </select>

    <select id="findByIdAndPassword" resultType="UserDto">
        SELECT user_email, user_password
        FROM users
        WHERE user_email=#{userEmail}
          AND user_password=#{userPassword}
    </select>

    <insert id="saveUser" parameterType="UserDto" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users(user_name, user_email, user_password, create_at, modify_at)
        VALUES (#{userName},
                #{userEmail},
                #{userPassword},
                DATE_FORMAT(#{createAt}, '%Y-%m-%d %H:%i:%s'),
                now()
               );

        <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() AS userId;
        </selectKey>
    </insert>
</mapper>